@use "@material/theme" with (
  $primary: red,
  $secondary:blue,
  $on-primary: #442b2d,
  $on-secondary: #442b2d,
);
@use "@material/button/mdc-button";

@use "@material/button";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

@include button.core-styles;
@include textfield.core-styles;
